<div id="badge-link-grp">
  <div class="badge-link">
      <h5>Markdown</h5>
      <code>
        [![Haz Commitz Status](<%= repository_url(user_id: owner, id: name, format: :svg) %>)](<%= repository_url(user_id: owner, id: name) %>)
      </code>
  </div>

  <div class="badge-link">
    <h5>RDOC</h5>
    <% snippet = capture do %>
      {<img src="<%= repository_url(user_id: owner, id: name, format: :svg) %>" alt="Haz Commitz Status" />}[<%= repository_url(user_id: owner, id: name) %>]
    <% end %>
    <code><%= escape_once snippet %></code>
  </div>

  <div class="badge-link">
    <h5>HTML</h5>
    <% snippet = capture do %>
      <a href="<%= repository_url(user_id: owner, id: name) %>"><img src="<%= repository_url(user_id: owner, id: name, format: :svg) %>" /></a>
    <% end %>
    <code><%= escape_once snippet %></code>
  </div>
</div>
