<% provide(:title, 'Add repository &middot; Haz Commitz') %>

<div class="container" id="new">
    <h3>Add Repository</h3>

    <div class="row">

        <div class="col-md-6 col-md-offset-3">

            <p>Get a Haz Commitz rating about your GitHub repository and get a badge by telling us the repo name.</p>

            <% if flash[:error] %>
                <div class="alert alert-warning">
                    <p><%= flash[:error] %></p>
                </div>
            <% end %>

            <%= form_for @repo, url: {action: 'create'} do |f| %>
                <div class="form-group">
                  <%= f.label :path, 'GitHub repo name' %>
                  <%= f.text_field :path, class: 'form-control', placeholder: 'Enter GitHub repository: user-name/repository-name', autofocus: true, value: '' %>
                </div>

                <%= f.submit 'Submit', class: 'btn btn-primary' %>
            <% end %>

        </div>
    </div>

    <hr>

    <%= render 'shared/footer' %>

</div> <!-- /container -->
