<% provide(:title, "#{@repo.path} Haz Commitz rating") %>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12">

        <div class="card">
          <div class="card-content">
            <span class="card-title green-text lighten-4">
              <h4><%= @repo.owner %> / <%= @repo.name %> <img title="Haz Commitz badge for <%= @repo.path %>" src="<%= repository_path(user_id: @repo.owner, id: @repo.name, format: :svg) %>" /></h4>
            </span>

            <div class="row">
              <div class="col s12 m6">
                <p>
                  How we rated this repo:

                  <ul>
                    <% @rating_klasses.each do |rater| %>
                      <li><%= rater.description %></li>
                    <% end %>
                  </ul>
                </p>
              </div>

              <div class="col s12 m2 offset-m2">
                <div class="card">
                  <div class="card-content blue darken-2 white-text">
                    <p class="center-align"><span class="rating-letter large"><%= @letter_rating %></span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-action">
            <%= link_to "https://github.com/#{@repo.path}", title: "View #{@repo.path} repo on GitHub.com" do %>
              <%= @repo.owner %> / <%= @repo.name %> <%= image_tag("github.png") %>
            <% end %>
          </div>
        </div>

        <div class="card">
          <div class="card-content">
            <span class="card-title green-text lighten-4">Commitz</span>

            <% if @repo.commits.any? %>
              <%= render partial: "commit", locals: { commit: @repo.latest_commit } %>
            <% end %>

          </div>
          <div class="card-action">
            <a href="#">More</a>
          </div>
        </div>

        <div class="card">
          <div class="card-content">
            <span class="card-title green-text lighten-4">Badges</span>

            <p>Add a badge to your README by copying one of the following snippets.</p>

            <%= render partial: "badge_link_templates", locals: { owner: @repo.owner, name: @repo.name } %>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
