<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <meta name="description" content="A GitHub badge service displaying repository rating.">
    <meta name="author" content="rob-murray">
    <title><%= yield :title %></title>

    <!-- CSS  -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css" media="screen,projection" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <%= stylesheet_link_tag "application", media: "all" %>

  <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="green" role="navigation">
      <div class="nav-wrapper container">
        <%= link_to "Haz Commitz?!", root_url, id: "logo-container", class: "brand-logo white-text" %>
        <ul class="right hide-on-med-and-down">
          <li>
            <%= link_to "Rate repository", new_repository_path, class: "white-text" %>
          </li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li>
            <%= link_to "Rate repository", new_repository_path, class: "white-text" %>
          </li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>

    <%= yield %>

    <%= render "shared/footer" %>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <%= javascript_include_tag "application" %>
  </body>
</html>
