<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Tell me why I should use this.">
    <meta name="author" content="rob-murray">
    <title><%= yield :title %></title>

    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.1/material.teal-deep_orange.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<%= stylesheet_link_tag 'application', media: 'all' %>

<%= csrf_meta_tags %>
  </head>

  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <%= link_to 'Haz Commitz?!', root_url, class: 'mdl-layout-title' %>
          <div class="mdl-layout-spacer"></div>
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="/repos/new">Rate repository</a>
          </nav>
        </div>
      </header>

      <main class="mdl-layout__content">
        <a name="top"></a>
        <div class="page-content">

          <%= yield %>

        </div>

        <div class="mdl-layout-spacer"></div>
      </main>
      <%= render 'shared/footer' %>
    </div>

<%= javascript_include_tag 'application' %>
<script src="https://storage.googleapis.com/code.getmdl.io/1.0.1/material.min.js"></script>

  </body>
</html>
